@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
section {
    padding: 0vw 2vw;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style-type: none;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}
/*-----------------------------------------------------Header------------------------------------------------------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    height: 20vw;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
    position: fixed;
    width: 100%;
    top: 0;
}
.logo {
    width: 40vw;
}
.header__buttons {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 50%;
}
.header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sign , .register {
    border-radius: 2px;
    padding: 4vw;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.sign {
    border: 1px solid #E0E0E0;
    color: #1D1D1D;
    background: white;
}
.register {
    color: white;
    background: #262626;
}
.basket, .destination_header, .card-button {
    display: none;
}
.card-button {
    border: none;
    background: transparent;
    cursor: pointer;
}
@media (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
        height: 10vw;
    }
    .header__nav {
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .logo {
        width: 15vw;
    }
    .basket {
        display: block;
        width: 3vw;
        height: 3vw;
    }
    .destination_header  {
        display: flex;
        align-items: center;
        font-size: 1rem;
        justify-content: space-between;
        width: 50%;
        padding-right: 12vw;
    }
    .point_name  {
        display: flex;
        align-items: center;
        padding: 1.5vw;
        border: 1px solid #E0E0E0;
        border-radius: 2px;
        background: transparent;
    }
    .sign , .register {
        border-radius: 2px;
        padding: 1.5vw;
        font-size: 1rem;
        font-weight: 500;
    }
    .location {
        width: 2.5vw;
        height: 2.5vw;
        margin-right: 1vw;
    }
    .header__buttons  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 27%;
    }
    .card-button {
        display: block;
    }
    .destination-p {
        font-size: 0.8rem;
        padding-bottom: 0vw;
    }
}
@media (min-width: 1124px) {
    section {
        padding: 0 3.5vw;
    }
  .header {
      display: flex;
      flex-direction: row;
      height: 6vw;
      padding: 0 3.5vw;
  }
  .header__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }
  .logo {
      width: 12vw;
  }
  .basket {
      display: block;
      width: 2vw;
      height: 2vw;
  }
  .destination_header {
      display: flex;
      align-items: center;
      font-size: 1rem;
      width: 41%;
  }
  .destination-p {
      color: #626262;
      padding-bottom: 4vw;
  }
  .point_name  {
      display: flex;
      align-items: center;
      padding: 0.75vw;
      border: 1px solid #E0E0E0;
      border-radius: 2px;
  }
  .sign , .register {
      border-radius: 2px;
      padding: 1vw;
      font-size: 1rem;
      font-weight: 500;
  }
  .location {
      width: 1.5vw;
      height: 1.5vw;
      margin-right: 1vw;
  }
  .header__buttons  {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 25%;
      margin-right: 0vw;
      padding-left: 4vw;
  }
  .destination_to {
      margin: 0;
      width: 75%;
      cursor: pointer;
  }
  @media (min-width: 1280px) {
      .header{
        height: 75px;
      }
    .logo {
        width: 154px;
    }
    .location {
        width: 17px;
        height: 17px;
    }
    .basket {
        width: 26px;
        height: 26px;
    }
    .destination_to {
        height: 40px;
        padding: 5px;
    }
    .destination_header {
        width: 480px;
    }
    .header__buttons {
        width: 307px;
        margin-right: 0vw;
        padding-left: 4vw;
    }
    .sign, .register {
        padding: 12px;
    }
  }
}

/*--------------------------------------------------------------Search_address section-------------------------------------------*/
.search-address {
    margin-top: 23vw;
}
.search  {
    display: flex;
    border-bottom: 1px solid rgba(117, 117, 117,0.3);
    width: 100%;
    margin-top: 5vw;
}
.search_img {
    width: 5vw;
    margin-right: 2vw;
    align-self: center;
}
.search_input {
    border: none;
    width: 100%;
    padding: 3vw 3vw 3vw 0vw;
    font-size: 1rem;
}
.search_input:focus {
    outline: none;
}
.destination {
    display: flex;
    margin-top: 4vw;
    width: 100%;
}
.destination-p {
    color: #626262;
    font-size: 0.8rem;
    padding-bottom: 4vw;
}
.destination_point {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.point_name {
    display: flex;
    align-items: center;
    padding: 2.75vw;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    background: transparent;
}
.location {
    width: 3.75vw;
    height: 3.75vw;
    margin-right: 1vw;
}
.destination_to {
    margin-left: 3vw;
    width: 100%;
}
.search_input , .search_input_header {
    border: none;
    width: 100%;
}
.search_input:focus {
    outline: none;
}
.search_input_header:focus {
    outline: none;
}
@media (min-width: 768px) {
    .search-address  {
        margin-top: 11vw;
    }
    .destination  {
        display: none;
    }
    .search  {
        margin-top: 1vw;
    }
    .search_img  {
        width: 4vw;
    }
    .search input  {
        font-size: 1.3rem;
    }
    .restoraunts {
        margin-top: 4vw;
    }
    .restoraunts__h2 {
        font-weight: normal;
        font-size: 1rem;
    }
    .restoraunt_container {
        margin-top: 3vw;
        display: flex;
        flex-wrap: wrap;
    }
    .restoraunt__em {
        flex-basis: 49%;
        margin-bottom: 4vw;
    }
    .restoraunt__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 10vw;
    }
    .restoraunts_img {
        width: 100%;
        height: 75%;
        margin-bottom: 2vw;
    }
    .restoraunts__h3 {
        font-weight: normal;
        font-size: 1rem;
    }
    .food-type {
        color: #626262;
        font-size: 1rem;
    }
    .average-time {
        font-size: 2rem;
    }
    .destination_to {
        width: auto;
        margin: 0;
        padding: 1.5vw;
        font-size: 0.9rem;
    }
    .destination-p {
        font-size: 1rem;
        padding: 0 1vw;
    }
    .location {
        width: 2.5vw;
        height: 2.5vw;
        margin-right: 1vw;
    }
    .search_input {
        font-size: 1.1rem;
        background: none;
    }
}
@media (min-width: 1124px) { 
    .destination {
        display: none;
    }
    .search  {
        margin-top: 2vw;
    }
    .search_img  {
        width: 2vw;
        margin-right: 1vw;
    }
    .search_input {
        font-size: 1rem;
        padding: 1vw;
    }
    .location {
        width: 1.5vw;
        height: 1.5vw;
        margin-right: 1vw;
    }
    .destination_to{
        height: 3vw;
        padding: 1vw;
    }
    .destination-p {
        font-size: 1rem;
        padding: 1vw;
    }
    .search_img {
        width: 2vw;
    }
    .destination-p {
        padding: 10px;
    }
}
/*-------------------------------------------------------Restoraunts---------------------------------------------------------------------*/
.restoraunts {
    margin-top: 8vw;
}
.restoraunts__h2 {
    font-weight: normal;
    font-size: 1.5rem;
}
.restoraunt_container {
    margin-top: 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.restoraunt__em {
    flex-basis: 100%;
    margin-bottom: 8vw;
}
.restoraunt__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vw;
}
.restoraunts_img {
    width: 100%;
    margin-bottom: 2vw;
}
.restoraunts__h3 {
    font-weight: normal;
    font-size: 5vw;
}
.food-type {
    color: #626262;
    font-size: 4.5vw;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.food-type__list {
    display: flex;
    flex-direction: row;
}
.food-type__list ::before {
    content: ' • ';
}
.average-time {
    font-size: 4vw;
}
.cost-class {
    margin-right: 1vw;
}
@media (min-width: 768px) {
    .restoraunts {
        margin-top: 4vw;
    }
    .restoraunts__h2 {
        font-weight: normal;
        font-size: 4vw;
    }
    .restoraunt_container {
        margin-top: 3vw;
        display: flex;
        flex-wrap: wrap;
    }
    .restoraunt__em {
        flex-basis: 49%;
        margin-bottom: 4vw;
    }
    .restoraunt__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 10vw;
    }
    .restoraunts_img {
        width: 100%;
        height: 75%;
        margin-bottom: 2vw;
    }
    .restoraunts__h3 {
        font-weight: normal;
        font-size: 3vw;
    }
    .food-type {
        color: #626262;
        font-size: 2.5vw;
    }
    .average-time {
        font-size: 2vw;
    }
    .location {
        width: 17px;
        height: 17px;
    }
}
@media (min-width: 1124px) { 
    .restoraunts {
        margin-top: 4vw;
    }
    .restoraunts__h2 {
        font-weight: normal;
        font-size: 2rem;
    }
    .restoraunt_container {
        margin-top: 2vw;
        display: flex;
        flex-wrap: wrap;
    }
    .restoraunt__em {
        flex-basis: 32%;
        margin-bottom: 1vw;
    }
    .restoraunt__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 7vw;
    }
    .restoraunts_img {
        width: 100%;
        height: 75%;
        margin-bottom: 1vw;
    }
    .restoraunts__h3 {
        font-weight: normal;
        font-size: 1.5rem;
    }
    .food-type {
        color: #626262;
        font-size: 1rem;
    }
    .average-time {
        font-size: 1rem;
    }
}
@media (min-width: 1280px) { 
    .restoraunts_img {
        width: 376px;
        height: 314px;
        margin-bottom: 10px;
    }
    .restoraunt__info {
        height: 85px;
    }
    .restoraunts {
        margin-top: 35px;
    }
    .search-address {
        margin-top: 100px;
    }
    .search_img {
        width: 26px;
    }
    .destination_to {
        height: 40px;
        padding: 15px;
    }
    .search_input_header {
        width: auto;
    }
}
/*------------------------------------------------Footer------------------------------------------------------------*/
.footer {
    background: #262626;
    margin-top: 5vw;
    padding: 0 2vw;
}
.footer_logo {
    margin: 12vw 0;
    width: 60vw;
}
.footer__nav {
    border: 1px solid rgba(255, 255, 255,0.4);
    border-width:1px 0px;
    display: flex;
    flex-wrap: wrap;
    padding: 8vw 0;
}
.footer__em {
    flex-basis: 100%;
}
.switch-language {
    margin-bottom: 8vw;
    background: #3B3B3B;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    padding: 3vw;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.switch-language_img{
    width: 5vw;
    height: 5vw;
}
.language {
    font-size: 1rem;
    color: white;
    margin-left: -12vw;
}
.hashtag {
    color: #FFFFFF;
    font-size: 6vw;
    font-weight: normal;
    margin-bottom: 2vw;
}
.hashtag span {
    color: #49A144;
}
.social-networks {
    display: flex;
    justify-content: space-between;
    width: 33%;
}
.social-network{
    width: 9vw;
    height: 9vw;
}
.footer__li a {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 300;
}
.footer__li {
    margin: 5vw 0;
}
.second_footer__menu > .footer__li:first-child {
    margin: 0 0 4vw 0;
}
.second_footer__menu > .footer__li:last-child {
    margin: 0;
}
.downloads {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255, 255, 255,0.4);
    padding: 5vw;

}
.download__service {
    width: 35vw;
    height: 11vw;
}
.copyrights {
    font-weight: 300;
    margin-top: 10vw;
    color: white;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vw;
    padding-bottom: 10vw;
}
.copyrights__p a {
    color: white;
}
.go-up {
    position: fixed;
    display: flex;
    justify-self: center;
    align-self: center;
    right: 0;
    bottom: 0;
    border: none;
    background: none;
    margin: 0vw 3vw 3vw 0vw;
    display: none;
    cursor: pointer;
}
@media (min-width: 768px) {
    .footer {
        background: #262626;
        margin-top: 5vw;
        padding: 0 2vw;
    }
    .footer_logo {
        margin: 8vw 0;
        width: 30vw;
    }
    .footer__nav {
        padding: 5vw 0;
    }
    .footer__em {
        flex-basis: 25%;
        margin-right: 7vw;
    }
    .switch-language {
        margin-bottom: 3vw;
        padding: 1.5vw;
        width: 100%;
    }
    .switch-language_img {
        width: 2vw;
        height: 2vw;
    }
    .language {
        font-size: 1rem;
        color: white;
        margin-left: -5vw;
    }
    .hashtag {
        color: #FFFFFF;
        font-size: 3vw;
        font-weight: normal;
        margin-bottom: 2vw;
    }
    .social-networks {
        display: flex;
        justify-content: space-between;
        width: 33%;
    }
    .social-network{
        width: 3vw;
        height: 3vw;
    }
    .footer__li a {
        font-size: 1rem;
    }
    .footer__li {
        margin: 0vw 0vw 3vw 0vw;
    }
    
    .downloads {
        padding: 5vw 23vw;

    }
    .download__service {
        width: 20vw;
        height: 6vw;
    }
    .copyrights {
        font-weight: 300;
        margin-top: 5vw;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 8vw;
        padding-bottom: 5vw;
        width: 100%;
    }
    .copyrights__p a {
        color: white;
    }
    .copyrights__p {
        width: 33%;
    }
    .go-up {
        width: 10vw;
        margin: 0vw 2vw 3vw 0vw;
    }
    .go-up__img {
        width: 9vw;
    }
}
@media (min-width: 1124px) { 
    .language {
        margin-left: -11vw;
    }
    .footer {
        background: #262626;
        margin-top: 5vw;
        padding: 0 2vw;
    }
    .footer_logo {
        margin: 4vw 0;
        width: 20vw;
    }
    .footer__nav {
        padding: 3vw 0;
    }
    .footer__em {
        flex-basis: 25%;
        margin-right: 7vw;
    }
    .switch-language {
        margin-bottom: 3vw;
        padding: 1vw;
        width: 100%;
    }
    .switch-language_img {
        width: 1.5vw;
        height: 1.5vw;
    }
    .switch-language_p {
        font-size: 1rem;
        color: white;
        margin-left: -11vw;
    }
    .hashtag {
        font-size: 2vw;
        margin-bottom: 1vw;
    }
    .social-network{
        width: 2vw;
        height: 2vw;
    }
    .footer__li a {
        font-size: 1rem;
    }
    .footer__li {
        margin: 0vw 0vw 2vw 0vw;
    }
    .second_footer__menu > .footer__li:first-child  {
        margin: 0 0 2vw 0;
    }
    
    .downloads {
        padding: 2vw 32vw;

    }
    .download__service {
        width: 13vw;
        height: 4vw;
    }
    .copyrights {
        font-weight: 300;
        margin-top: 3vw;
        color: white;
        height: 4vw;
        padding: 0;
        width: 100%;
    }
    .copyrights__p a {
        color: white;
    }
    .copyrights__p {
        width: 33%;
    }
    .go-up {
        width: 6vw;
        margin: 0vw 2vw 1vw 0vw;
    }
    .go-up__img {
        width: 5vw;
    }

}
@media (min-width: 1280px) { 
    .footer_logo {
        margin: 45px 0;
        width: 258px;
    }
    .footer__nav {
        padding: 30px 0;
    }
    .downloads {
        padding: 25px 408px;
    }
    .download__service {
        width: 166px;
        height: 51px;
    }
    .switch-language_img {
        width: 20px;
        height: 20px;
    }
    .switch-language {
        margin-bottom: 30px;
        padding: 12px;
    }
    .switch-language_p {
        font-size: 1rem;
        margin-left: -140px;
    }
    .language {
        margin-left: -135px;
    }
    .social-network{
        width: 24px;
        height: 24px;
    }
    .footer__em {
        margin-right: 90px;
    }
    .copyrights {
        font-size: 1rem;
    }
    .go-up {
        width: 76px;
        margin: 0vw 25px 15px 0vw;
    }
    .go-up__img {
        width: 65px;
    }
}
/*-------------------------------------------restoraunt_header--------------------------------------------------------*/
.restoraunt-header {
    background: url(../img/restoraunt_header/back_phone.jpg);
    background-size: 100%;
    height: 50vh;
    background-repeat: space;
    display: flex;
    align-items: center;
    justify-content: center;
}
.restoraunt__info {
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgb(117 117 117 / 20%);
    border-radius: 2px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 29vw;
    align-items: center;
    justify-content: space-around;
    padding: 4vw;
}
.restoraunt-header__h2 {
    font-size: 2rem;
    font-weight: normal;
}
.average-time-restoraunt {
    background: #262626;
    border-radius: 16px;
    color: white;
    padding: 1.5vw 2vw;
}
.restoraunt-food__type {
    margin-top: 13vw;
    display: flex;
    justify-content: center;
}
@media (min-width: 768px) {
    .restoraunt-header {
        background: url(../img/restoraunt_header/back_tablet.jpg);
        background-size: 100%;
        height: 36vh;
        background-repeat: space;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .restoraunt__info {
        width: 55%;
        height: 50%;
        margin-top: 0vw;
        padding: 1vw 4vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .restoraunt-header__h2 {
        font-weight: normal;
        flex-basis: 100%;
    }
    .average-time-restoraunt {
        border-radius: 16px;
        color: white;
        padding: 1vw;
        justify-content: space-between;
        display: flex;
        flex-basis: 23%;
        font-size: 0.8rem;
    }
    .restoraunt-food__type {
        flex-basis: 46%;
        margin-top: 0vw;
        justify-self: flex-start;
        font-size: 1rem;
    }
}
@media (min-width: 1124px) { 
    .restoraunt-header {
        background: url(../img/restoraunt_header/back_desktop.jpg);
        background-size: 100%;
        height: 50vh;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .restoraunt__info {
        width: 40%;
        height: 50%;
    }
    .average-time-restoraunt {
        flex-basis: 25%;
    }
}
@media (min-width: 1280px) {
    .restoraunt-header {
        height: 484px;
    }
    .restoraunt__info {
        width: 469px;
        height: 242px;
        padding: 10px 48px;
    }
    .cost-class {
        margin-right: 6px;
    }
    .food-type__em {
        margin-right: 4px;
    }
    .average-time-restoraunt {
        padding: 12px;
    }
    .location {
        margin-right: 5px;
    }
}
/*---------------------------------------------------------------Dishes---------------------------------------------------*/
.dishes_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dishes_container a {
    flex-basis: 100%;
    padding-bottom: 5vw;
}
.dishes_header_wide_screen {
    display: none;
}
.dish__type {
    display: flex;
    align-items: center;
    margin: 8vw 0;
    flex-direction: column;
}
.dish__type_h3 {
    font-weight: normal;
    font-size: 1.75rem;
    padding-bottom: 3vw;
}
.line {
    background: #757575;
    height: 1px;
    width: 20%;
}
.dish__em {
    flex-basis: 100%;
    display: flex;
    border-bottom: 1px solid rgba(117, 117, 117,0.2);
    justify-content: space-between;
}
.dish__info {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.dish__img {
    width: 35%;
}
.dish__name {
    font-size: 1.01rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 1vw;
    font-weight: normal;
}
.description {
    font-size: 0.8rem;
    color: #626262;
}
.price {
    font-size: 1rem;
    margin: auto 0vw 2vw 0;
    font-weight: 500;
}
/*Стиль для планшетов*/
@media (min-width: 768px) {
    .dish__type_h3 {
        padding-bottom: 0vw;
    }
    .dishes {
        padding: 0;
    }
    .dishes_container {
        padding: 0 3.5vw;
    }
    .dishes_header_wide_screen {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid rgba(117, 117, 117, 0.2);
        padding-right: 20%;
        padding-left: 3.5vw;
        overflow-x: auto;
    }
    .dish_wide_h3 {
        font-size: 1.1rem;
        font-weight: normal;
        padding: 4vw 0;
        cursor: pointer;
    }
    #prepicked_dish__type {
        color: #327430;
    }
    .dish__type {
        display: flex;
        align-items: flex-start;
        margin: 6vw 0;
        flex-direction: column;
        padding: 0 3.5vw;
    }
    .line {
        display: none;
    }
    .dish__em {
        flex-basis: 100%;
        display: flex;
        border: 1px solid rgba(117, 117, 117,0.2);
        justify-content: space-between;
    }
    .dish__info {
        padding: 2vw;
        width: 60%;
        display: flex;
        flex-direction: column;
    }
    .dish__img {
        width: 35%;
    }
    .dish__name {
        margin-bottom: 1vw;
    }
    .price {
        margin: auto 0vw 2vw 0;
    }
  }
  @media (min-width: 1124px)  { 
    .dishes_container a {
        flex-basis: 49%;
        padding-bottom: 3vw;
    }
    .dish_wide_h3 {
        padding: 2vw 0;
    }
    .dish__type {
        margin: 4vw 0;
    }
    .dish_h3 {
        font-size: 2.5vw;
    }
    .line {
        display: none;
    }
    .dish__em {
        display: flex;
        border: 1px solid rgba(117, 117, 117,0.2);
        justify-content: space-between;
    }
    .dish__info {
        padding: 2vw;
        width: 60%;
        display: flex;
        flex-direction: column;
    }
    .dish__img {
        width: 40%;
    }
    .dish__name {
        margin-bottom: 1vw;
        font-weight: normal;
    }
    .price {
        margin: auto 0vw 0vw 0;
    }
  }
  @media (min-width: 1280px)  { 
    .dish_wide_h3 {
        padding: 20px 0;
    }
    .dish__type {
        margin: 40px 0;
    }
    .dishes_container a {
        padding-bottom: 35px;
    }
    .dish__info {
        padding: 20px;
        width: 60%;
    }
  }

