@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
section {
    padding: 0vw 10px;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style-type: none;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}
html {
    scroll-behavior: smooth;
  }
/*-----------------------------------------------------Header------------------------------------------------------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 75px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
    position: fixed;
    width: 100%;
    top: 0;
}
.logo {
    width: 40vw;
}
.header__buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    cursor: pointer;
    width: 55%;
}
.header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sign, 
.register {
    border-radius: 2px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.sign {
    border: 1px solid #E0E0E0;
    color: #1D1D1D;
    background: white;
}
.register {
    color: white;
    background: #262626;
}
.basket, 
.header__destination, 
.card_button {
    display: none;
}
.card_button {
    border: none;
    background: transparent;
    cursor: pointer;
}
@media (max-width: 300px) { /*Исправление кнопок на очень узких экранах*/
    .sign, 
    .register {
        padding: 8px;
        font-size: 0.9rem;
    }
    .header{
        height: 60px;
    }
    .header__buttons {
        gap: 5px;
    }
}
@media (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
        height: 75px;
        padding: 15px;
    }
    .header__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .logo {
        width: 15vw;
    }
    .basket {
        display: block;
        width: 3vw;
    }
    .header__destination  {
        display: flex;
        align-items: center;
        font-size: 1rem;
        width: 50%;
        padding-right: 90px;
    }
    .point-name  {
        display: flex;
        align-items: center;
        padding: 1.5vw;
        border: 1px solid #E0E0E0;
        border-radius: 2px;
        background: transparent;
    }
    .sign , 
    .register {
        border-radius: 2px;
        padding: 1.5vw;
        font-size: 1rem;
        font-weight: 500;
    }
    .header__buttons  {
        display: flex;
        gap: 15px;
        align-items: center;
        width: 30%;
    }
    .card_button {
        display: block;
    }
    .destination-p {
        font-size: 0.8rem;
        padding-bottom: 0;
    }
}
@media (min-width: 1124px) {
  .header {
      padding: 40px;
  }
  .header__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }
  .logo {
      width: 12vw;
  }
  .basket {
      display: block;
      width: 2vw;
  }
  .header__destination {
      display: flex;
      align-items: center;
      font-size: 1rem;
      width: 41%;
  }
  .destination-p {
      color: #626262;
      padding-bottom: 4vw;
  }
  .point-name  {
      display: flex;
      align-items: center;
      padding: 0.75vw;
      border: 1px solid #E0E0E0;
      border-radius: 2px;
  }
  .sign, 
  .register {
      border-radius: 2px;
      padding: 1vw;
      font-size: 1rem;
      font-weight: 500;
  }
  .location {
      width: 1.5vw;
      height: 1.5vw;
      margin-right: 1vw;
  }
  .header__buttons  {
      display: flex;
      gap: 20px;
      align-items: center;
      width: 25%;
  }
  .destination-to {
      margin: 0;
      width: 75%;
      cursor: pointer;
  }
}
@media (min-width: 1280px) {
    .header{
      height: 75px;
    }
  .logo {
      width: 154px;
  }
  .location {
      width: 17px;
      height: 17px;
  }
  .basket {
      width: 26px;
      height: 26px;
  }
  .destination-to {
      height: 40px;
      padding: 5px;
  }
  .header__destination {
      width: 440px;
  }
  .header__buttons {
      width: 307px;
  }
  .sign, 
  .register {
      padding: 12px;
  }
  section {
      padding: 0 50px;
  }
}

/*--------------------------------------------------------------Search_address section-------------------------------------------*/
.search_address {
    margin-top: 90px;
}
.search  {
    display: flex;
    border-bottom: 1px solid rgba(117, 117, 117,0.3);
    width: 100%;
}
.search_img {
    width: 5vw;
    margin-right: 5px;
    align-self: center;
}
.search_input {
    border: none;
    width: 100%;
    padding: 7px 7px 7px 0vw;
    font-size: 1rem;
}
.search_input:focus {
    outline: none;
}
.destination {
    display: flex;
    margin-top: 20px;
    width: 100%;
}
.destination-p {
    color: #626262;
    font-size: 0.9rem;
    padding-bottom: 15px;
}
.destination__point {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.point-name {
    display: flex;
    align-items: center;
    padding: 18px 12px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    background: transparent;
    height: 60px;
}
.location {
    width: 4.75vw;
    margin-right: 2px;
}
.destination-to {
    margin-left: 15px;
    width: 100%;
}
.search_input, 
.header__search-input {
    border: none;
    width: 100%;
    height: 50px;
    font-size: 1.25rem;
}
.search_input:focus {
    outline: none;
}
.header__search-input:focus {
    outline: none;
}
.point-name_with-address-input {
    padding: 0 12px;
}
@media (min-width: 768px) {
    .search_address  {
        margin-top: 100px;
    }
    .destination  {
        display: none;
    }
    .search_img  {
        width: 4vw;
        max-height: 30px;
    }
    .search input  {
        font-size: 1.3rem;
    }
    .restoraunts__h2 {
        font-weight: normal;
        font-size: 1rem;
    }
    .restoraunt_container {
        margin-top: 3vw;
        display: flex;
        flex-wrap: wrap;
    }
    .restoraunt__em {
        flex-basis: 49%;
        margin-bottom: 4vw;
    }
    .restoraunts__img {
        width: 100%;
        height: 75%;
        margin-bottom: 2vw;
    }
    .restoraunts__h3 {
        font-weight: normal;
        font-size: 1rem;
    }
    .food-type {
        color: #626262;
        font-size: 1rem;
    }
    .average-time {
        font-size: 2rem;
    }
    .destination-to {
        width: auto;
        margin: 0;
        padding: 12px;
        font-size: 0.9rem;
        height: 50px;
    }
    .destination-p {
        font-size: 1rem;
        padding: 0 10px;
    }
    .location {
        margin-right: 5px;
    }
    .search_input, 
    .header__search-input {
        background: none;
        height: 50px;
        font-size: 1.25rem;
    }
}
@media (min-width: 1124px) { 
    .destination {
        display: none;
    }
    .search_img  {
        width: 2vw;
    }
    .search_input {
        font-size: 1rem;
        padding: 5px;
    }
    .destination-to{
        height: 40px;
        padding: 10px;
    }
    .destination-p {
        font-size: 1rem;
    }
    .search_img {
        width: 2vw;
    }
    .destination-p {
        padding: 10px;
    }
}
/*-------------------------------------------------------Restoraunts---------------------------------------------------------------------*/
.restoraunts {
    margin-top: 30px;
}
.restoraunts__h2 {
    font-weight: normal;
    font-size: 1.5rem;
}
.restoraunt_container {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.restoraunt__em {
    flex-basis: 100%;
    margin-bottom: 25px;
}
.restoraunt__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75px;
}
.restoraunts__img {
    width: 100%;
    margin-bottom: 10px;
}
.restoraunts__h3 {
    font-weight: normal;
    font-size: 1.25rem;
}
.food-type {
    color: #626262;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.food-type__list {
    display: flex;
    flex-direction: row;
}
.food-type__list ::before {
    content: ' • ';
}
.average-time {
    font-size: 0.95rem;
}
.cost-class {
    margin-right: 4px;
}
@media (min-width: 768px) {
    .restoraunts__h2 {
        font-size: 1.9rem;
    }
    .restoraunt_container {
        margin-top: 25px;
    }
    .restoraunt__em {
        flex-basis: 49%;
    }
    .restoraunts__img {
        height: 75%;
    }
    .restoraunts__h3 {
        font-size: 1.45rem;
    }
    .food-type {
        font-size: 1.2rem;
    }
    .average-time {
        font-size: 1rem;
    }
    .location {
        width: 17px;
        height: 17px;
    }
    .restoraunt__info {
        height: 80px;
    }
}
@media (min-width: 1124px) { 
    .restoraunts {
        margin-top: 40px;
    }
    .restoraunts__h2 {
        font-weight: normal;
        font-size: 2rem;
    }
    .restoraunt_container {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .restoraunt__em {
        flex-basis: 32%;
    }
    .restoraunts__h3 {
        font-weight: normal;
        font-size: 1.5rem;
    }
    .food-type {
        color: #626262;
        font-size: 1rem;
    }
    .average-time {
        font-size: 1rem;
    }
}
@media (min-width: 1280px) { 
    .restoraunts__img {
        width: 376px;
        height: 314px;
        margin-bottom: 10px;
    }
    .restoraunt__info {
        height: 85px;
    }
    .restoraunts {
        margin-top: 35px;
    }
    .search_address {
        margin-top: 100px;
    }
    .search_img {
        width: 26px;
        margin-right: 10px;
    }
    .destination-to {
        height: 40px;
        padding: 15px;
    }
    .header__search-input {
        width: auto;
        font-size: 1rem;
    }
    .search_input {
        padding: 10px;
        height: 70px;
    }
}
/*------------------------------------------------Footer------------------------------------------------------------*/
.footer {
    background: #262626;
    margin-top: 50px;
    padding: 0 8px;
}
.footer__logo {
    margin: 45px 0;
    width: 60vw;
}
.footer__nav {
    border: 1px solid rgba(255, 255, 255,0.4);
    border-width:1px 0px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
}
.footer__em {
    flex-basis: 100%;
}
.switch-language {
    margin-bottom: 30px;
    background: #3B3B3B;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.switch-language__img{
    width: 5vw;
}
.language {
    font-size: 1rem;
    color: white;
    margin-left: -35px;
}
.hashtag {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 10px;
}
.hashtag span {
    color: #49A144;
}
.social-networks {
    display: flex;
    justify-content: space-between;
    width: 33%;
}
.social-network {
    width: 9vw;
}
.footer__li a {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 300;
}
.footer__li {
    margin: 20px 0;
}
.second_footer__menu > .footer__li:first-child {
    margin: 0 0 20px 0;
}
.second_footer__menu > .footer__li:last-child {
    margin: 0;
}
.downloads {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255, 255, 255,0.4);
    padding: 20px;

}
.download__service {
    width: 35vw;
    height: 40px;
}
.copyrights {
    font-weight: 300;
    margin-top: 35px;
    color: white;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 113px;
    padding-bottom: 35px;
}
.copyrights_p a {
    color: white;
}
.go-up {
    position: fixed;
    justify-self: center;
    align-self: center;
    right: 0;
    bottom: 0;
    border: none;
    background: none;
    margin: 0vw 10px 10px 0vw;
    display: none;
    cursor: pointer;
}
@media (min-width: 768px) {
    .footer {
        margin-top: 50px;
        padding: 0 15px;
    }
    .footer__logo {
        margin: 50px 0;
        width: 30vw;
    }
    .footer__nav {
        padding: 40px 0;
    }
    .footer__em {
        flex-basis: 26%;
        margin-right: 50px;
    }
    .switch-language {
        width: 100%;
    }
    .switch-language__img {
        width: 2vw;
    }
    .language {
        font-size: 1rem;
        color: white;
        margin-left: -45px;
    }
    .hashtag {
        color: #FFFFFF;
        font-weight: normal;
        margin-bottom: 15px;
    }
    .social-networks {
        display: flex;
        justify-content: space-between;
        width: 33%;
    }
    .social-network {
        width: 4vw;
        margin-right: 10px;
    }
    .footer__li a {
        font-size: 1rem;
    }
    .footer__li {
        margin: 0vw 0vw 20px 0vw;
    }
    
    .downloads {
        padding: 30px 185px;

    }
    .download__service {
        width: 20vw;
        height: 50px;
    }
    .copyrights {
        margin-top: 30px;
        flex-direction: row;
        height: 50px;
        padding-bottom: 30px;
        width: 80%;
    }
    .copyrights_p a {
        color: white;
    }
    .go-up {
        width: 10vw;
    }
    .go-up__img {
        width: 9vw;
    }
}
@media (min-width: 1124px) { 
    .language {
        margin-left: -11vw;
    }
    .footer {
        padding: 0 15px;
    }
    .footer__logo {
        margin: 45px 0;
        width: 20vw;
    }
    .footer__em {
        flex-basis: 25%;
        margin-right: 80px;
    }
    .switch-language_p {
        font-size: 1rem;
        color: white;
        margin-left: -110px;
    }
    .social-network {
        width: 3vw;
    }
    .footer__li a {
        font-size: 1rem;
    }
    .footer__li {
        margin: 0vw 0vw 25px 0vw;
    }
    .second_footer__menu > .footer__li:first-child  {
        margin: 0 0 25px 0;
    }
    
    .downloads {
        padding: 30px 320px;

    }
    .download__service {
        width: 13vw;
    }
    .copyrights {
        height: 50px;
        padding: 0;
        width: 66%;
    }
    .copyrights_p a {
        color: white;
    }
    .copyrights_p {
        width: 33%;
    }
    .go-up {
        width: 6vw;
    }
    .go-up__img {
        width: 5vw;
    }

}
@media (min-width: 1280px) { 
    .footer {
        padding: 0 30px;
    }
    .footer__logo {
        margin: 45px 0;
        width: 258px;
    }
    .footer__nav {
        padding: 30px 0;
    }
    .downloads {
        padding: 25px 408px;
    }
    .download__service {
        width: 166px;
        height: 51px;
    }
    .switch-language__img {
        width: 20px;
        height: 20px;
    }
    .switch-language {
        margin-bottom: 30px;
        padding: 12px;
    }
    .switch-language_p {
        font-size: 1rem;
        margin-left: -140px;
    }
    .language {
        margin-left: -135px;
    }
    .social-network {
        width: 24px;
        height: 24px;
    }
    .footer__em {
        margin-right: 90px;
    }
    .copyrights {
        font-size: 1rem;
    }
    .go-up {
        width: 76px;
        margin: 0vw 25px 15px 0vw;
    }
    .go-up__img {
        width: 65px;
    }

}
/*-------------------------------------------restoraunt_header--------------------------------------------------------*/
.restoraunt-header {
    background: url(../img/restoraunt_header/back_phone.jpg);
    background-size: 100%;
    height: 400px;
    background-repeat: space;
    display: flex;
    align-items: center;
    justify-content: center;
}
.restoraunt-header__info {
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgb(117 117 117 / 20%);
    border-radius: 2px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.restoraunt-header__h2 {
    font-size: 2rem;
    font-weight: normal;
}
.average-time_restoraunt {
    background: #262626;
    border-radius: 16px;
    color: white;
    padding: 5px;
}
.restoraunt_food-type {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
@media (min-width: 768px) {
    .restoraunt-header {
        background: url(../img/restoraunt_header/back_tablet.jpg);
        background-size: 100%;
        height: 370px;
        background-repeat: space;
        justify-content: flex-start;
    }
    .restoraunt-header__info {
        width: 55%;
        height: 185px;
        margin-top: 0;
        padding: 8px 30px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .restoraunt-header__h2 {
        font-weight: normal;
        flex-basis: 100%;
    }
    .average-time_restoraunt {
        border-radius: 16px;
        color: white;
        padding: 11px;
        justify-content: space-between;
        display: flex;
        flex-basis: 23%;
        font-size: 0.8rem;
    }
    .restoraunt_food-type {
        flex-basis: 46%;
        margin-top: 0;
        justify-self: flex-start;
        font-size: 1rem;
    }
}
@media (min-width: 1124px) { 
    .restoraunt-header {
        background: url(../img/restoraunt_header/back_desktop.jpg);
        background-size: 100%;
        height: 364px;
        background-repeat: no-repeat;
        margin: 80px 0 30px 0;
    }
    .restoraunt-header__info {
        width: 40%;
        height: 200px;
    }
    .average-time_restoraunt {
        flex-basis: 25%;
    }
}
@media (min-width: 1280px) {
    .restoraunt-header__info {
        width: 469px;
        height: 242px;
        padding: 10px 48px;
    }
    .cost-class {
        margin-right: 6px;
    }
    .food-type__em {
        margin-right: 4px;
    }
    .average-time_restoraunt {
        padding: 12px;
    }
    .location {
        margin-right: 5px;
    }
}
/*---------------------------------------------------------------Dishes---------------------------------------------------*/
.dishes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dishes-container a {
    flex-basis: 100%;
    padding-bottom: 25px;
}
.dishes_header_wide_screen {
    display: none;
}
.dish-type {
    display: flex;
    align-items: center;
    margin: 30px 0;
    flex-direction: column;
}
.dish-type__h3 {
    font-weight: normal;
    font-size: 1.75rem;
    padding-bottom: 15px;
}
.line {
    background: #757575;
    height: 1px;
    width: 20%;
}
.dish__em {
    flex-basis: 100%;
    display: flex;
    border-bottom: 1px solid rgba(117, 117, 117,0.2);
    justify-content: space-between;
}
.dish__info {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.dish__img {
    width: 35%;
}
.dish__name {
    font-size: 1.01rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 7px;
    font-weight: normal;
}
.description {
    font-size: 0.8rem;
    color: #626262;
}
.price {
    font-size: 1rem;
    margin: auto 0vw 8px 0;
    font-weight: 500;
}
/*Стиль для планшетов*/
@media (min-width: 768px) {
    .dish-type__h3 {
        padding-bottom: 0vw;
    }
    .dishes {
        padding: 0;
    }
    .dishes-container {
        padding: 0 3.5vw;
    }
    .dishes_header_wide_screen {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid rgba(117, 117, 117, 0.2);
        padding-right: 150px;
        padding-left: 26px;
        overflow-x: auto;
    }
    .dish__h3 {
        font-size: 1.1rem;
        font-weight: normal;
        padding: 31px 0;
        cursor: pointer;
    }
    #prepicked_dish-type {
        color: #327430;
    }
    .dish-type {
        display: flex;
        align-items: flex-start;
        margin: 46px 0;
        flex-direction: column;
        padding: 0 26px;
    }
    .line {
        display: none;
    }
    .dish__em {
        flex-basis: 100%;
        display: flex;
        border: 1px solid rgba(117, 117, 117,0.2);
        justify-content: space-between;
    }
    .dish__info {
        padding: 2vw;
        width: 60%;
        display: flex;
        flex-direction: column;
    }
    .dish__img {
        width: 35%;
    }
    .dish__name {
        font-size: 1.3rem;
    }
    .description {
        font-size: 1.1rem;
        color: #626262;
    }
    .price {
        font-size: 1.25rem;
        margin: auto 0 0 0;
    }
  }
  @media (min-width: 1124px)  { 
    .dishes-container a {
        flex-basis: 49%;
        padding-bottom: 30px;
    }
    .dish__h3 {
        padding: 22px 0;
    }
    .dish-type {
        margin: 40px 0;
    }
    .line {
        display: none;
    }
    .dish__em {
        display: flex;
        border: 1px solid rgba(117, 117, 117,0.2);
        justify-content: space-between;
    }
    .dish__info {
        padding: 22px;
        width: 60%;
        display: flex;
        flex-direction: column;
    }
    .dish__img {
        width: 40%;
    }
    .dish__name {
        font-size: 1.1rem;
    }
    .description {
        font-size: 0.9rem;
    }
    .price {
        font-size: 1rem;
        margin: auto 0 0 0;
    }
  }
  @media (min-width: 1280px)  { 
    .dish__h3 {
        padding: 20px 0;
    }
    .dish-type {
        margin: 40px 0;
    }
    .dishes-container a {
        padding-bottom: 35px;
    }
    .dish__info {
        padding: 20px;
    }
  }

